.icon {
  font-size: var(--icon-size, 1.25em);
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -15%;
  mask-repeat: no-repeat;
  mask-size: 100%;
  background: var(--icon-color);
}

.round-icon {
  font-size: var(--icon-size, 1.25em);
  border-radius: 50%;
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: var(--icon-size);
  height: var(--icon-size);
  background-color: var(--icon-bg-color);

  .icon {
    --icon-size: 0.5em;
  }
}
